@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.input {
  flex: 100%;
  margin: 30px 0 20px;
}

.button {
  flex: 80%;
  margin: 30px 0 20px;
}
